# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
*.env
*.venv
Pipfile
Pipfile.lock
poetry.lock

# Django-specific files
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# Migrations (ignore compiled Python files in migrations)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.sqlite3

# Secret settings
.env
config/settings/local.py
config/settings/secrets.json

# VS Code and IDE files
.vscode/
*.swp
*.swo
.idea/
*.iml
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db

# Node.js (if using frontend dependencies)
node_modules/
package-lock.json
yarn.lock

# Docker
docker-compose.override.yml
*.dockerfile
__MACOSX/

# Deployment
*.bak
*.log
*.crt
*.pem
*.key
*.old
*.swp

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Test and debug files
.tox/
pytest_cache/
unittest.xml

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Celery
celerybeat-schedule

# Gunicorn
gunicorn-error.log
